@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono&display=swap');


.App {
  font-family: monospace;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

/* HEADER STUFF */
.App-header {
  /* background-color: #282c34; */
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: calc(10px + 2vmin);
}

.App-header-links {
  padding: 25px 20px;
}

.App-logo {
  height: 30vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BODY STUFF */
.App-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Body-profile {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 30px;
  min-height: 30vh;
}

.Projects-container {
  display: flex;
  justify-content: space-around;
}

.Profile-heading {
  font-size: 70px;
  margin: 0px;
  /* padding: 10px 0px; */
}

.Project {
  padding: 5px 30px;
  color: black;
  background-color: rgb(255, 217, 160);
  border-radius: 10px;
}

.App-link {
  color: #61dafb;
}


.flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  ################################################## */

.page-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}


.scroll-down-container {
  animation: App-arrow-bob 1.5s infinite ease-in-out;
}
.scroll-down {
  font-size: 20px;
  margin: 10px;
}


.App-down-arrow {
  height: 2vh;
  width: 2vh;
  /* animation: App-arrow-bob 2s infinite ease-in-out; */
}

@keyframes App-arrow-bob {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.page {
  display: flex;
  min-height: 100vh;
}

.page-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content {
  border: 1px solid white;
  border-radius: 40px;
  width: 50vw;
  min-height: 30vh;
}

.page-2-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-title {
  transition: all 0.3s;
}

.nav-title:hover {
  transform: scale(1.2);
}

.hobbies-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hobby {
  display: flex;
  flex-direction: column;
}

/* For the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #ffc698;
  /* outline: 1px solid slategrey; */
  border-radius: 10px;
}

/* For the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #282c34;
}

/* For the scrollbar width and height */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}


.socials-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 19vh;
  transition: opacity 0.5s ease-in-out;
}

.navigate-socials {
  display: flex;
  justify-content: center;
}

.navigate-btn {
  padding: 10px;
  width: 10px;
  height: 10px;
  transition: opacity 0.5s;
}

.inactive {
  opacity: 30%;
}

a {
  text-decoration: none;
  color: inherit;
}

.socials-page {
  transition: all 0.5s ease-in-out;
}

.slide-in-right {
  animation: slideInRight 0.5s ease-in-out;
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-in-out;
}

.slide-out-left {
  animation: slideOutLeft 0.5s ease-in-out;
}

.slide-out-right {
  animation: slideOutRight 0.5s ease-in-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(45%); /* Changed from 100% */
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-45%); /* Changed from -100% */
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-45%); /* Changed from -100% */
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(45%); /* Changed from 100% */
  }
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.project {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.project-link {
  transition: all 0.3s;
}

.project-link:hover {
  color: rgb(221, 123, 123);
}

.socials-link {
  transition: color 0.5s;
}

.socials-link:hover {
  color: rgb(221, 123, 123);
}